<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
<h1>Weather for Different Countries</h1>
<div class="d-flex justify-content-center">
<div class="spinner-border" role="status" >
    <span class="sr-only" id="loading">Loading...</span>
</div>
</div>
<table class="table" id='tab'>
    <thead>
    <tr>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of lis;">
      <ahref><td>{{ e.name }}</td></ahref>
    </tr>
    </tbody>
</table>     